@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}
.body-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
ul {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.5em;
} 
li {
    list-style-type: none;
}
.sidebar {
    background-color: #0ea5e9;
    display: grid;
    color: white;
    gap: 50px;
    padding: 20px;
}
.logo {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 2em;
    font-weight: bold;
    gap: 10px;
}
.menu-main ul, .menu-add ul {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    row-gap: 15px;
    padding-left: 10px;
    align-items: center;
}

.header {
    display: grid;
    padding: 15px 40px;
    gap: 20px;
}
.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profile-panel {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.search-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}
#search {
    width: 70%;
    background-color: rgb(216 224 233);
    border-radius: 20px;
    height: 25px;
    border: none;
    padding-left: 10px;
    transition: .3s;
}
#search:focus {
    outline: none;
    box-shadow: 0px 0px 5px -1px #000000;
}
#search:hover {
    box-shadow: 0px 0px 5px -1px #000000;
}
.header-bot {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.header-text {
    display: flex;
    gap: 15px;
}
.text-block p {
    font-size: 0.9em;
}
.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-buttons button {
    border: none;
    background-color: #0ea5e9;
    height: 40px;
    width: 95px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1em;
    transition: .3s;
}
.header-buttons button:hover {
    box-shadow: 0px 0px 12px -3px #000000;
}
.header-buttons button:active {
    box-shadow:inset 0px 0px 12px -3px #000000;
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.main {
    background-color: rgb(241 241 241);
    box-shadow: inset 0px 10px 10px -10px #000000;
}